# Introduction to R

## Intro to basics

In [1]:
# Assign a value to the variable my_apples
my_apples <- 5 

# Fix the assignment of my_oranges
my_oranges <- "six" 

# Create the variable my_fruit and print it out
my_fruit <- my_apples + my_oranges 
my_fruit

ERROR: Error in my_apples + my_oranges: non-numeric argument to binary operator

In [2]:
my_apples

[1] 5

In [3]:
my_oranges

[1] "six"

In [8]:
# Assign a value to the variable my_apples
my_apples <- 5 

# Fix the assignment of my_oranges
my_oranges <- 6 

# Create the variable my_fruit and print it out
my_fruit <- my_apples + my_oranges 
my_fruit

[1] 11

### Basic data types in R

In [9]:
# Change my_numeric to be 42
my_numeric <- 42

# Change my_character to be "universe"
my_character <- 'universe'

# Change my_logical to be FALSE
my_logical <- FALSE

### What's that data type?

In [10]:
# Declare variables of different types
my_numeric <- 42
my_character <- "universe"
my_logical <- FALSE 

# Check class of my_numeric
class(my_numeric)

# Check class of my_character
class(my_character)

# Check class of my_logical
class(my_logical)

[1] "numeric"

[1] "character"

[1] "logical"

## Vectors

In [11]:
# Define the variable vegas
vegas <- "Go!"

### Create a vector

In [12]:
numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")

# Complete the code for boolean_vector
boolean_vector <- c(TRUE, FALSE, TRUE)

In [13]:
class(boolean_vector)

[1] "logical"

### Create a vector (2)

In [14]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Roulette winnings from Monday to Friday
roulette_vector <-  c(-24, -50, 100, -350, 10)

### Naming a vector

In [15]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

# Assign days as names of roulette_vector
names(roulette_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [16]:
roulette_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

### Naming a vector (2)

In [17]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

# The variable days_vector
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
# Assign the names of the day to roulette_vector and poker_vector
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [18]:
poker_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240

In [19]:
roulette_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

### Calculating total winnings

In [20]:
A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Take the sum of A_vector and B_vector
total_vector <- A_vector + B_vector
  
# Print out total_vector
print(total_vector)

[1] 5 7 9

### Calculating total winnings (2)

In [21]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Assign to total_daily how much you won/lost on each day
total_daily <- poker_vector + roulette_vector

In [22]:
total_daily

   Monday   Tuesday Wednesday  Thursday    Friday
      116      -100       120      -470       250

### Calculating total winnings (3)

In [23]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Total winnings with poker
total_poker <- sum(poker_vector)

# Total winnings with roulette
total_roulette <- sum(roulette_vector) 

# Total winnings overall
total_week <- total_poker + total_roulette

# Print out total_week
print(total_week)

[1] -84

### Comparing total winnings

In [24]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Calculate total gains for poker and roulette
total_poker <- sum(poker_vector)
total_roulette <- sum(roulette_vector)

# Check if you realized higher total gains in poker than in roulette 
print(total_poker > total_roulette)

[1] TRUE

### Vector selection: the good times

In [25]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Define a new variable based on a selection
poker_wednesday <- poker_vector[3] # 3rd element !!

### Vector selection: the good times (2)

In [26]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Define a new variable based on a selection
# select the poker results of Tuesday, Wednesday and Thursday
poker_midweek <- poker_vector[c(2,3,4)]

### Vector selection: the good times (3)

In [27]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Define a new variable based on a selection
roulette_selection_vector <- roulette_vector[2:5]

In [28]:
roulette_selection_vector

  Tuesday Wednesday  Thursday    Friday
      -50       100      -350        10

### Vector selection: the good times (4)

In [29]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Select poker results for Monday, Tuesday and Wednesday
poker_start <- poker_vector[c("Monday", "Tuesday", "Wednesday")]
  
# Calculate the average of the elements in poker_start
print(mean(poker_start))

[1] 36.66667

### Selection by comparison - Step 1

In [30]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Which days did you make money on poker?
selection_vector <- poker_vector > 0
  
# Print out selection_vector
print(selection_vector)

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE

### Selection by comparison - Step 2

In [31]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Which days did you make money on poker?
selection_vector <- poker_vector > 0

# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]

### Advanced selection

In [32]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Which days did you make money on roulette?
selection_vector <- roulette_vector > 0

# Select from roulette_vector these days
roulette_winning_days <- roulette_vector[selection_vector]

In [33]:
roulette_winning_days

Wednesday    Friday
      100        10

## Matrices

### What's a matrix?

In [34]:
# Construct a matrix with 3 rows that contain the numbers 1 up to 9
matrix(1:9, byrow=TRUE, nrow = 3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [35]:
matrix(1:9, byrow=FALSE, nrow = 3)

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

### Analyze matrices, you shall

In [36]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)

# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office, byrow=TRUE, nrow=3)
star_wars_matrix

     [,1]    [,2]
[1,] 460.998 314.4
[2,] 290.475 247.9
[3,] 309.306 165.8

### Naming a matrix

In [37]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Construct matrix
star_wars_matrix <- matrix(c(new_hope, empire_strikes, return_jedi), nrow = 3, byrow = TRUE)

# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

# Name the columns with region
colnames(star_wars_matrix) <- region

# Name the rows with titles
rownames(star_wars_matrix) <- titles

# Print out star_wars_matrix
print(star_wars_matrix)

                             US non-US
A New Hope              460.998  314.4
The Empire Strikes Back 290.475  247.9
Return of the Jedi      309.306  165.8

### Calculating the worldwide box office

In [38]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                  dimnames = 
                  list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                  c("US", "non-US")))

# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

In [39]:
worldwide_vector

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

In [40]:
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

### Adding a column for the Worldwide box office

In [41]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), c("US", "non-US")))

# The worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix, worldwide_vector)

In [42]:
all_wars_matrix

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

### Adding a row

In [44]:
star_wars_matrix2 <- matrix(c(474.5, 552.5, 310.7, 338.7, 380.3, 468.5), nrow = 3, byrow = TRUE,
                           dimnames = list(c("The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"), 
                                           c("US", "non-US")))

In [45]:
# star_wars_matrix and star_wars_matrix2 are available in your workspace
star_wars_matrix  
star_wars_matrix2 

# Combine both Star Wars trilogies in one matrix
all_wars_matrix <- rbind(star_wars_matrix, star_wars_matrix2)
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

                     US    non-US
The Phantom Menace   474.5 552.5
Attack of the Clones 310.7 338.7
Revenge of the Sith  380.3 468.5

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

### The total box office revenue for the entire saga

In [46]:
# all_wars_matrix is available in your workspace
all_wars_matrix

# Total revenue for US and non-US
total_revenue_vector <- colSums(all_wars_matrix)
  
# Print out total_revenue_vector
print(total_revenue_vector)

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

      US   non-US
2226.279 2087.800

### Selection of matrix elements

In [47]:
# all_wars_matrix is available in your workspace
all_wars_matrix

# Select the non-US revenue for all movies
non_us_all <- all_wars_matrix[,2]
  
# Average non-US revenue
print(mean(non_us_all))
  
# Select the non-US revenue for first two movies
non_us_some <- all_wars_matrix[1:2,2]
  
# Average non-US revenue for first two movies
print(mean(non_us_some))

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

[1] 347.9667
[1] 281.15

### A little arithmetic with matrices

In [50]:
# all_wars_matrix is available in your workspace
all_wars_matrix

# Estimate the visitors
visitors <- all_wars_matrix / 5
  
# Print the estimate to the console
visitors

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

                        US      non-US
A New Hope              92.1996  62.88
The Empire Strikes Back 58.0950  49.58
Return of the Jedi      61.8612  33.16
The Phantom Menace      94.9000 110.50
Attack of the Clones    62.1400  67.74
Revenge of the Sith     76.0600  93.70

### A little arithmetic with matrices (2)

In [56]:
ticket_prices_matrix <- matrix(c(5, 5, 6, 6, 7, 7, 4, 4, 4.5, 4.5, 4.9, 4.9), nrow = 6, byrow = TRUE, 
dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi", "The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"), 
                c("US", "non-US")))

In [57]:
# all_wars_matrix and ticket_prices_matrix are available in your workspace
all_wars_matrix
ticket_prices_matrix

# Estimated number of visitors
visitors <- all_wars_matrix / ticket_prices_matrix

# US visitors
us_visitors <- visitors[,1]

# Average number of US visitors
mean(us_visitors)

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

                        US  non-US
A New Hope              5.0 5.0
The Empire Strikes Back 6.0 6.0
Return of the Jedi      7.0 7.0
The Phantom Menace      4.0 4.0
Attack of the Clones    4.5 4.5
Revenge of the Sith     4.9 4.9

[1] 75.01339

## Factors

In [58]:
# Assign to the variable theory what this chapter is about!
theory <- "factors for categorical variables"

### What's a factor and why would you use it? (2)

In [59]:
# Sex vector
sex_vector <- c("Male", "Female", "Female", "Male", "Male")

# Convert sex_vector to a factor
factor_sex_vector <- factor(sex_vector)

# Print out factor_sex_vector
factor_sex_vector

[1] Male   Female Female Male   Male
Levels: Female Male

In [60]:
?factor

factor                  package:base                   R Documentation

_F_a_c_t_o_r_s

_D_e_s_c_r_i_p_t_i_o_n:

     The function ‘factor’ is used to encode a vector as a factor (the
     terms ‘category’ and ‘enumerated type’ are also used for factors).
     If argument ‘ordered’ is ‘TRUE’, the factor levels are assumed to
     be ordered.  For compatibility with S there is also a function
     ‘ordered’.

     ‘is.factor’, ‘is.ordered’, ‘as.factor’ and ‘as.ordered’ are the
     membership and coercion functions for these classes.

_U_s_a_g_e:

     factor(x = character(), levels, labels = levels,
            exclude = NA, ordered = is.ordered(x), nmax = NA)

     ordered(x, ...)

     is.factor(x)
     is.ordered(x)

     as.factor(x)
     as.ordered(x)

     addNA(x, ifany = FALSE)

_A_r_g_u_m_e_n_t_s:

       x: a vector of data, usually taking a small number of distinct
          values.

  levels: an optional vector of the unique values (as character
          strings) that ‘x’ might have taken.  The default is the
          unique set of values taken by ‘as.character(x)’, sorted into
          increasing order _of ‘x’_.  Note that this set can be
          specified as smaller than ‘sort(unique(x))’.

  labels: _either_ an optional character vector of labels for the
          levels (in the same order as ‘levels’ after removing those in
          ‘exclude’), _or_ a character string of length 1.  Duplicated
          values in ‘labels’ can be used to map different values of ‘x’
          to the same factor level.

 exclude: a vector of values to be excluded when forming the set of
          levels.  This may be factor with the same level set as ‘x’ or
          should be a ‘character’.

 ordered: logical flag to determine if the levels should be regarded as
          ordered (in the order given).

    nmax: an upper bound on the number of levels; see ‘Details’.

     ...: (in ‘ordered(.)’): any of the above, apart from ‘ordered’
          itself.

   ifany: only add an ‘NA’ level if it is used, i.e.  if
          ‘any(is.na(x))’.

_D_e_t_a_i_l_s:

     The type of the vector ‘x’ is not restricted; it only must have an
     ‘as.character’ method and be sortable (by ‘order’).

     Ordered factors differ from factors only in their class, but
     methods and the model-fitting functions treat the two classes
     quite differently.

     The encoding of the vector happens as follows.  First all the
     values in ‘exclude’ are removed from ‘levels’. If ‘x[i]’ equals
     ‘levels[j]’, then the ‘i’-th element of the result is ‘j’.  If no
     match is found for ‘x[i]’ in ‘levels’ (which will happen for
     excluded values) then the ‘i’-th element of the result is set to
     ‘NA’.

     Normally the ‘levels’ used as an attribute of the result are the
     reduced set of levels after removing those in ‘exclude’, but this
     can be altered by supplying ‘labels’.  This should either be a set
     of new labels for the levels, or a character string, in which case
     the levels are that character string with a sequence number
     appended.

     ‘factor(x, exclude = NULL)’ applied to a factor without ‘NA’s is a
     no-operation unless there are unused levels: in that case, a
     factor with the reduced level set is returned.  If ‘exclude’ is
     used, since R version 3.4.0, excluding non-existing character
     levels is equivalent to excluding nothing, and when ‘exclude’ is a
     ‘character’ vector, that _is_ applied to the levels of ‘x’.
     Alternatively, ‘exclude’ can be factor with the same level set as
     ‘x’ and will exclude the levels present in ‘exclude’.

     The codes of a factor may contain ‘NA’.  For a numeric ‘x’, set
     ‘exclude = NULL’ to make ‘NA’ an extra level (prints as ‘<NA>’);
     by default, this is the last level.

     If ‘NA’ is a level, the way to set a code to be missing (as
     opposed to the code of the missing level) is to use ‘is.na’ on the
     left-hand-side of an assignment (as in ‘is.na(f)[i] <- TRUE’;
     indexing inside ‘is.na’ does not work).  Under those circumstances
     missing values are currently printed as ‘<NA>’, i.e., identical to
     entries of level ‘NA’.

     ‘is.factor’ is generic: you can write methods to handle specific
     classes of objects, see InternalMethods.

     Where ‘levels’ is not supplied, ‘unique’ is called.  Since factors
     typically have quite a small number of levels, for large vectors
     ‘x’ it is helpful to supply ‘nmax’ as an upper bound on the number
     of unique values.

_V_a_l_u_e:

     ‘factor’ returns an object of class ‘"factor"’ which has a set of
     integer codes the length of ‘x’ with a ‘"levels"’ attribute of
     mode ‘character’ and unique (‘!anyDuplicated(.)’) entries.  If
     argument ‘ordered’ is true (or ‘ordered()’ is used) the result has
     class ‘c("ordered", "factor")’.  Undocumentedly for a long time,
     ‘factor(x)’ loses all ‘attributes(x)’ but ‘"names"’, and resets
     ‘"levels"’ and ‘"class"’.

     Applying ‘factor’ to an ordered or unordered factor returns a
     factor (of the same type) with just the levels which occur: see
     also ‘[.factor’ for a more transparent way to achieve this.

     ‘is.factor’ returns ‘TRUE’ or ‘FALSE’ depending on whether its
     argument is of type factor or not.  Correspondingly, ‘is.ordered’
     returns ‘TRUE’ when its argument is an ordered factor and ‘FALSE’
     otherwise.

     ‘as.factor’ coerces its argument to a factor.  It is an
     abbreviated (sometimes faster) form of ‘factor’.

     ‘as.ordered(x)’ returns ‘x’ if this is ordered, and ‘ordered(x)’
     otherwise.

     ‘addNA’ modifies a factor by turning ‘NA’ into an extra level (so
     that ‘NA’ values are counted in tables, for instance).

     ‘.valid.factor(object)’ checks the validity of a factor, currently
     only ‘levels(object)’, and returns ‘TRUE’ if it is valid,
     otherwise a string describing the validity problem.  This function
     is used for ‘validObject(<factor>)’.

_W_a_r_n_i_n_g:

     The interpretation of a factor depends on both the codes and the
     ‘"levels"’ attribute.  Be careful only to compare factors with the
     same set of levels (in the same order).  In particular,
     ‘as.numeric’ applied to a factor is meaningless, and may happen by
     implicit coercion.  To transform a factor ‘f’ to approximately its
     original numeric values, ‘as.numeric(levels(f))[f]’ is recommended
     and slightly more efficient than ‘as.numeric(as.character(f))’.

     The levels of a factor are by default sorted, but the sort order
     may well depend on the locale at the time of creation, and should
     not be assumed to be ASCII.

     There are some anomalies associated with factors that have ‘NA’ as
     a level.  It is suggested to use them sparingly, e.g., only for
     tabulation purposes.

_C_o_m_p_a_r_i_s_o_n _o_p_e_r_a_t_o_r_s _a_n_d _g_r_o_u_p _g_e_n_e_r_i_c _m_e_t_h_o_d_s:

     There are ‘"factor"’ and ‘"ordered"’ methods for the group generic
     ‘Ops’ which provide methods for the Comparison operators, and for
     the ‘min’, ‘max’, and ‘range’ generics in ‘Summary’ of
     ‘"ordered"’.  (The rest of the groups and the ‘Math’ group
     generate an error as they are not meaningful for factors.)

     Only ‘==’ and ‘!=’ can be used for factors: a factor can only be
     compared to another factor with an identical set of levels (not
     necessarily in the same ordering) or to a character vector.
     Ordered factors are compared in the same way, but the general
     dispatch mechanism precludes comparing ordered and unordered
     factors.

     All the comparison operators are available for ordered factors.
     Collation is done by the levels of the operands: if both operands
     are ordered factors they must have the same level set.

_N_o_t_e:

     In earlier versions of R, storing character data as a factor was
     more space efficient if there is even a small proportion of
     repeats.  However, identical character strings now share storage,
     so the difference is small in most cases.  (Integer values are
     stored in 4 bytes whereas each reference to a character string
     needs a pointer of 4 or 8 bytes.)

_R_e_f_e_r_e_n_c_e_s:

     Chambers, J. M. and Hastie, T. J. (1992) _Statistical Models in
     S_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     ‘[.factor’ for subsetting of factors.

     ‘gl’ for construction of balanced factors and ‘C’ for factors with
     specified contrasts.  ‘levels’ and ‘nlevels’ for accessing the
     levels, and ‘unclass’ to get integer codes.

_E_x_a_m_p_l_e_s:

     (ff <- factor(substring("statistics", 1:10, 1:10), levels = letters))
     as.integer(ff)      # the internal codes
     (f. <- factor(ff))  # drops the levels that do not occur
     ff[, drop = TRUE]   # the same, more transparently

     factor(letters[1:20], labels = "letter")

     class(ordered(4:1)) # "ordered", inheriting from "factor"
     z <- factor(LETTERS[3:1], ordered = TRUE)
     ## and "relational" methods work:
     stopifnot(sort(z)[c(1,3)] == range(z), min(z) < max(z))


     ## suppose you want "NA" as a level, and to allow missing values.
     (x <- factor(c(1, 2, NA), exclude = NULL))
     is.na(x)[2] <- TRUE
     x  # [1] 1    <NA> <NA>
     is.na(x)
     # [1] FALSE  TRUE FALSE

     ## More rational, since R 3.4.0 :
     factor(c(1:2, NA), exclude =  "" ) # keeps <NA> , as
     factor(c(1:2, NA), exclude = NULL) # always did
     ## exclude = <character>
     z # ordered levels 'A < B < C'
     factor(z, exclude = "C") # does exclude
     factor(z, exclude = "B") # ditto

     ## Now, labels maybe duplicated:
     ## factor() with duplicated labels allowing to "merge levels"
     x <- c("Man", "Male", "Man", "Lady", "Female")
     ## Map from 4 different values to only two levels:
     (xf <- factor(x, levels = c("Male", "Man" , "Lady",   "Female"),
                      labels = c("Male", "Male", "Female", "Female")))
     #> [1] Male   Male   Male   Female Female
     #> Levels: Male Female

     ## Using addNA()
     Month <- airquality$Month
     table(addNA(Month))
     table(addNA(Month, ifany = TRUE))

### What's a factor and why would you use it? (3)

In [61]:
# Animals
animals_vector <- c("Elephant", "Giraffe", "Donkey", "Horse")
factor_animals_vector <- factor(animals_vector)
factor_animals_vector

# Temperature
temperature_vector <- c("High", "Low", "High","Low", "Medium")
factor_temperature_vector <- factor(temperature_vector, order = TRUE, levels = c("Low", "Medium", "High"))
factor_temperature_vector

[1] Elephant Giraffe  Donkey   Horse
Levels: Donkey Elephant Giraffe Horse

[1] High   Low    High   Low    Medium
Levels: Low < Medium < High

### Factor levels

In [62]:
# Code to build factor_survey_vector
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)

# Specify the levels of factor_survey_vector
levels(factor_survey_vector) <- c("Female", "Male")

factor_survey_vector

[1] Male   Female Female Male   Male
Levels: Female Male

### Summarizing a factor

In [63]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
levels(factor_survey_vector) <- c("Female", "Male")
factor_survey_vector

# Generate summary for survey_vector
summary(survey_vector)

# Generate summary for factor_survey_vector
summary(factor_survey_vector)

[1] Male   Female Female Male   Male
Levels: Female Male

   Length     Class      Mode
        5 character character

Female   Male
     2      3

### Battle of the sexes

In [64]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
levels(factor_survey_vector) <- c("Female", "Male")

# Male
male <- factor_survey_vector[1]

# Female
female <- factor_survey_vector[2]

# Battle of the sexes: Male 'larger' than female?
male > female

Warning message in Ops.factor(male, female):
“‘>’ not meaningful for factors”

[1] NA

### Ordered factors

In [65]:
# Create speed_vector
speed_vector <- c("medium", "slow", "slow", "medium", "fast")

### Ordered factors (2)

In [66]:
# Create speed_vector
speed_vector <- c("medium", "slow", "slow", "medium", "fast")

# Convert speed_vector to ordered factor vector
factor_speed_vector <- factor(speed_vector, ordered=TRUE, levels=c("slow", "medium", "fast"))

# Print factor_speed_vector
factor_speed_vector
summary(factor_speed_vector)

[1] medium slow   slow   medium fast
Levels: slow < medium < fast

  slow medium   fast
     2      2      1

### Comparing ordered factors

In [67]:
# Create factor_speed_vector
speed_vector <- c("medium", "slow", "slow", "medium", "fast")
factor_speed_vector <- factor(speed_vector, ordered = TRUE, levels = c("slow", "medium", "fast"))

# Factor value for second data analyst
da2 <- factor_speed_vector[2]

# Factor value for fifth data analyst
da5 <- factor_speed_vector[5]

# Is data analyst 2 faster than data analyst 5?
da2 > da5

[1] FALSE

In [68]:
da2

[1] slow
Levels: slow < medium < fast

In [69]:
da5

[1] fast
Levels: slow < medium < fast

## Data frames

### What's a data frame?

In [75]:
# Call head() on mtcars
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [77]:
tail(mtcars)

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.7 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

### Have a look at the structure

In [76]:
# Investigate the structure of mtcars
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

### Creating a data frame

In [78]:
# Definition of vectors
name <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

# Create a data frame from the vectors
planets_df <- data.frame(name, type, diameter, rotation, rings)
planets_df

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

### Creating a data frame (2)

In [79]:
# Check the structure of planets_df
str(planets_df)

'data.frame':	8 obs. of  5 variables:
 $ name    : Factor w/ 8 levels "Earth","Jupiter",..: 4 8 1 3 2 6 7 5
 $ type    : Factor w/ 2 levels "Gas giant","Terrestrial planet": 2 2 2 2 1 1 1 1
 $ diameter: num  0.382 0.949 1 0.532 11.209 ...
 $ rotation: num  58.64 -243.02 1 1.03 0.41 ...
 $ rings   : logi  FALSE FALSE FALSE FALSE TRUE TRUE ...

### Selection of data frame elements

In [80]:
# The planets_df data frame from the previous exercise is pre-loaded

# Print out diameter of Mercury (row 1, column 3)
planets_df[1,3]

# Print out data for Mars (entire fourth row)
planets_df[4,]

[1] 0.382

  name type               diameter rotation rings
4 Mars Terrestrial planet 0.532    1.03     FALSE

### Selection of data frame elements (2)

In [82]:
# The planets_df data frame from the previous exercise is pre-loaded

# Select first 5 values of diameter column
planets_df[1:5, "diameter"]

[1]  0.382  0.949  1.000  0.532 11.209

### Only planets with rings

In [83]:
# planets_df is pre-loaded in your workspace

# Select the rings variable from planets_df
rings_vector <- planets_df$rings
  
# Print out rings_vector
rings_vector

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

### Only planets with rings (2)

In [84]:
# planets_df and rings_vector are pre-loaded in your workspace

# Adapt the code to select the name column for planets with rings
planets_df[rings_vector, "name"]

[1] Jupiter Saturn  Uranus  Neptune
Levels: Earth Jupiter Mars Mercury Neptune Saturn Uranus Venus

In [85]:
# Adapt the code to select all columns for planets with rings
planets_df[rings_vector, ]

  name    type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

### Only planets with rings but shorter

In [87]:
# planets_df is pre-loaded in your workspace

# Select planets with diameter < 1
subset(planets_df, diameter < 1)

  name    type               diameter rotation rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
4 Mars    Terrestrial planet 0.532       1.03  FALSE

### Sorting your data frame

In [88]:
# planets_df is pre-loaded in your workspace

# Use order() to create positions
positions <- order(planets_df$diameter)

# Use positions to sort planets_df
planets_df[positions, ]

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
8 Neptune Gas giant           3.883      0.67   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
5 Jupiter Gas giant          11.209      0.41   TRUE

In [89]:
positions

[1] 1 4 2 3 8 7 6 5

## Lists

### Creating a list

In [90]:
# Vector with numerics from 1 up to 10
my_vector <- 1:10 

# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

# First 10 elements of the built-in data frame mtcars
my_df <- mtcars[1:10,]

# Construct list with these different elements:
my_list <- list(my_vector, my_matrix, my_df)

In [91]:
my_list

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[3]]
                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280          19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4

### Creating a named list

In [92]:
# Vector with numerics from 1 up to 10
my_vector <- 1:10 

# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

# First 10 elements of the built-in data frame mtcars
my_df <- mtcars[1:10,]

# Adapt list() call to give the components names
my_list <- list(vec=my_vector, mat=my_matrix, df=my_df)

# Print out my_list
my_list

$vec
 [1]  1  2  3  4  5  6  7  8  9 10

$mat
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

$df
                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280          19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4

### Creating a named list (2)

In [94]:
# The variables mov, act and rev are available

# Finish the code to build shining_list
shining_list <- list(moviename = mov, actors = act, reviews = rev)

ERROR: Error in eval(expr, envir, enclos): object 'mov' not found

### Selecting elements from a list

In [ ]:
# shining_list is already pre-loaded in the workspace

# Print out the vector representing the actors
shining_list$actors

# Print the second element of the vector representing the actors
shining_list[[2]][2]

### Adding more movie information to the list

In [ ]:
# shining_list, the list containing movie name, actors and reviews, is pre-loaded in the workspace

# We forgot something; add the year to shining_list
shining_list_full <- c(shining_list, year = 1980)

# Have a look at shining_list_full
str(shining_list_full)

```txt
List of 4
 $ moviename: chr "The Shining"
 $ actors   : chr [1:5] "Jack Nicholson" "Shelley Duvall" "Danny Lloyd" "Scatman Crothers" ...
 $ reviews  :'data.frame':	3 obs. of  3 variables:
  ..$ scores  : num [1:3] 4.5 4 5
  ..$ sources : Factor w/ 3 levels "IMDb1","IMDb2",..: 1 2 3
  ..$ comments: Factor w/ 3 levels "A masterpiece of psychological horror",..: 3 2 1
 $ year     : num 1980
```